/*
!.gitignore
!.vimrc
!.zshrc
!.dir_colors/
!.dir_colors/dircolors
!.tmux.conf

# Conky
!.conky/
.conky/*
!.conky/.conky-toolbar
!.conky/Retrowave/

# Glava
!.config/
.config/*
!.config/glava/
.config/glava/*
!.config/glava/radial.glsl
